<!DOCTYPE html>
<html>
    <body style="background-color: rgb(237, 167, 218);"></body>

<head>
     <title>Dating site</title>
</head>

<div>
    <h1 style="color: rgb(225, 87, 193);">Dating site<img src="/images/loop.png" width = 4%></img></h1>
    <h2 style="color: rgb(225, 87, 193);">Login</h2>
</div>

<h1 style="text-shadow: 2px 2px #ff0000;"></h1>

    <!-- Login form med POST action --> 
    <form action="/login" method="POST">
      <input type="email" id="email" name="email" placeholder="Email">
      <input type="password" id="password" name="password" placeholder="Password">
      <input type="submit" value="Log In"> <!--Type submit knap til login-->
    </form>
    <br>
    

  </div>
</div>
<div>
	<a href="/register" style="color: rgb(225, 87, 193);">Dont have a user? Sign up right here!</a>
</div>
</html>
