<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css"   href="/css/style.css">
    <body style="background-color: rgb(237, 167, 218);"></body>

<head>
     <title>Dating site</title>
</head>

<div>
    <h1 style="color:blue;">Dating site
    <img src = "..../images/love.png" width = 10%></img>
    </h1>
    <h2>Login</h2>
</div>

<h1 style="color:blue;">A Blue Heading</h1>
<p style="color:red;">A red paragraph.</p>

    <!-- Login Form -->
    <form action="/login" method="POST">
      <input type="email" id="email" name="email" placeholder="Email">
      <input type="password" id="password" name="password" placeholder="Password">
      <input type="submit" value="Log In">
    </form>
    <br>
    

  </div>
</div>
</html>
