<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css"   href="/css/style.css">

<head>
     <title>Dating site</title>
</head>

<div>
    <h1>Dating site
    <img src = "/images/love.png" width = 10%></img>
    </h1>
    <h2>Login</h2>
</div>

    <!-- Login Form -->
    <form action="/login" method="POST">
      <input type="email" id="email" class="fadeIn second" name="email" placeholder="Email">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
    <br>
    

  </div>
</div>
</html>
