<body style="background-color: rgb(237, 167, 218);"></body>

<head>
  <title>Dating site</title>
</head>


<div>
 <h1 style="color: rgb(225, 87, 193);">Dating site<img src="/images/loop.png" width = 40%></img></h1>
 <h2 style="color: rgb(225, 87, 193);">Your matches</h2>
</div>

<div style="color: #ff0000;">

<!--Altert der fortæller at match er blevet slettet-->
<% if (match_deleted == "true") { %>
	<script>
		alert("Match deleted");
		//console.log("MATCH DELETED ALERT");
	</script>
<% } %>

<!--Slette match knappen med af typen hidden-->
<% matches.forEach(function(matches) { %>
		<% if (matches.first_user_name == user_name) { %>
	        <li>
				<strong><%= matches.second_user_name %></strong>
				<form action="/deletematch" method="POST">
					<input type="hidden" value="<%= matches.id %>" name="match_id" />
					<button type="submit">Delete</button>
				</form>
	        </li>
        <% } else { %>
        	<li>
				<strong><%= matches.first_user_name %></strong>
				<form action="/deletematch" method="POST">
					<input type="hidden" value="<%= matches.id %>" name="match_id" />
					<button type="submit">Delete</button>
				</form>
	        </li>
        <% }%>
	<% }); %>
</div>
<br></br>
	
	<div>
		<a href="/profile" style="color: rgb(225, 87, 193);">Back to your profile</a>
	</div>