<h2>Profile</h2>
<p>User email: <%= user.email %></p>
<p>Username: <%= user.name %></p>
<br><br>
<p>You are interested in: <%= user.interest %> 
<br></br>
<a href="/matches/get-more">Meet other singles here</p>
<div>
<a href="/matches"> See all your matches </a>
</div>
<br></br>
<div>
<a href="/logout">Log out</a>
</div>