<body style="background-color: rgb(237, 167, 218);"></body>

<head>
  <title>Dating site</title>
</head>

<div>
 <h1 style="color: rgb(225, 87, 193);">Dating site<img src="/images/loop.img" width = 10%></img></h1>
 <h2 style="color: rgb(225, 87, 193);">Sign up now and start matching!</h2>
</div>

<!-- Register Form -->

    <form action="/register" method="POST">
      <input type="text" id="name" name="name" placeholder="Full name" style="color: rgb(225, 87, 193);">

      <br></br>
      
      <div>
      <label for="cars" style="color: rgb(225, 87, 193);">Your gender</label>
    </div>
    <div>
      <select name="gender" id="gender" required>
        <option value="" disabled>----</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>

    <br></br>

    <div>
      <label for="cars" style="color: rgb(225, 87, 193);">What gender interests you</label>
    </div>

    <div>
      <select name="interest" id="gender" required>
        <option value="" disabled>----</option>
        <option value="female">Female</option>
        <option value="male">Male</option>
      </select>

    </div>
    <br></br>
      <input type="email" id="email" name="email" placeholder="Email" style="color: rgb(225, 87, 193);">
      <br></br>
      <input type="password" id="password" name="password" placeholder="Password" style="color: rgb(225, 87, 193);">
      <br></br>
      <input type="submit" value="Create profile" style="color: rgb(225, 87, 193);">
    </form>

  </div>
</div>
