
<link rel="stylesheet" type="text/css"   href="/css/style.css">
    
<!-- Login Form -->
<div>
  <h1>Dating site
  <img src = "/images/love.png" width = 10%></img>
  </h1>
  <h2>Sign up now and start matching!</h2>
</div>

    <form action="/register" method="POST">
      <input type="text" id="name" class="fadeIn second" name="name" placeholder="Full name">

      <br></br>
      
      <div>
      <label for="cars">Your gender</label>
    </div>
    <div>
  
      <select name="gender" id="gender" required>
        <option value="" disabled>-- Choose --</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>
    </div>

    <br></br>

    <div>

      <label for="cars">What gender interest you:</label>
    </div>

    <div>

      <select name="interest" id="gender" required>
        <option value="" disabled>-- Choose --</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>

    </div>
    <br></br>

      <input type="email" id="email" class="fadeIn second" name="email" placeholder="Email">
      <br></br>
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
      <br></br>
      <input type="submit" class="fadeIn fourth" value="Create profile">
    </form>

  </div>
</div>
