<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dating Site</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/pricing/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="pricing.css" rel="stylesheet">
  </head>
  <body>
  <h5 class="my-0 mr-md-auto font-weight-normal">Dating Site</h5>

</div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Sign up</h1>
</div>
<form id="register-form" action="/register-user" method="POST" style="text-align:center;"> 
    <p>Sign Up:</p>
    <label for = "username">Enter Fullname:</label>
    <input id="username" name="username" type="text" placeholder="Fullname" value=""/>
        <br></br>
    <label for = "password">Enter Password:</label>
    <input id="password" name="password" type="password" placeholder="Password" value=""/>
         <br></br>
    <label for="email">Enter email:</label>
    <input id="email" name="email" type="email" placeholder="1234@mail.dk">
         <br></br>
    <label for="birthday">Enter Birthday: </label>
    <input name="birthday" type="date" id="birthday">
        <br></br>
    <p>Select your gender:</p>
        <input type="checkbox" name="gender" value="female" id="female">
        <label for="female">Female</label>
        <input type="checkbox" name="gender" value="male" id="male">
        <label for="male">Male</label>
        <input type="checkbox" name="gender" value="other" id="other">
        <label for="other">Other</label>
            <br></br>
     <p>Select your interest:</p>
        <input type="checkbox" name="interest" value="Female" id="Female">
        <label for="Female">Female</label>
        <input type="checkbox" name="interest" value="Male" id="Male">
        <label for="Male">Male</label>
        <input type="checkbox" name="interest" value="Other" id="Other">
        <label for="Other">Other</label>
            <br></br>
    

    <!-- <input id="rgstr_btn" type="submit" value="Submit account" />  -->
    <input id="" type="submit" value="Submit account" /> 
    <br></br>

    
</form>
<a href="/Users/silleeliselindskowhansen/Desktop/Eksamen2/view/login.html">If you are already signed up, go to Login</a>
</body>
</html>